body {
    height: 100vh;
    font-family: Arial;
    background: linear-gradient(135deg, #0648c4be, #25117e);
    color: white;
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
             
}
button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}