 .index {
    background: linear-gradient(135deg, #0648c4be, #25117e);
    color: white;
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 600;
    font-family: arial;
    border-radius: 10px;
    letter-spacing: 2px;  
    padding: 15px 30px; 
    }
