body{
            font-family:arial;
        }
        header {
                background: linear-gradient(to right, #23e2c2, #6a8bf0);
                color: white;
                padding: 20px;
                text-align: center;
        }
        select{
            padding: 5px 10px;
        }
         button {
            padding: 8px;
            margin: 10px;
            width: 25%;
        }
        fieldset{
            border: 2px solid black;
            margin: 20px auto;
            width: 50%;
            padding: 2px 15px;
            border-radius: 5px;
        
        }